
.selectDayOfWeek_Item {
    --ion-background-color: rgb(211, 154, 101);
    font-size: 20px;
    border-radius: 5px;

    color: rgb(255, 255, 255);

}

.AulaDia_CardWrapper {
    width: 94%;
    border-style: solid;
    border-color: black;
    margin-left: 2%;
    margin-right: 2%;
    --background: rgb(255, 255, 255);
}

.AulaDia_CardTitle {
    font-weight: bold;
}

.PageContent {
    --background: rgb(255, 255, 255);
}

.aulaImage {
    min-width: 100px;
    max-width: 150px;
    height: auto;
}

.popover{

    --max-height : 50%;
    --max-width : 50%;
}

@media screen and (max-width: 600px) {
    .textResponsive {
        font-size: 13px;
    }
    .aulaImage {
        width: 100px;
        height: 100px;
    }
}

@media screen and (min-width: 600px) {
    .textResponsive {
        font-size: 18px;
    }
    .aulaImage {
        width: 150px;
        height: 150px;
    }
}