.item{
}
.icon{
    min-width: 15px;
    margin-right: 15px;
}
.label{
    min-width: 100px;
    width: 40%;
}
.inheritBackground, .item .label{
    background: inherit!important;
}
ion-item {
    background:inherit !important;
    }
.inlist{
    min-width: 50% !important;
}