ion-content ion-toolbar {
  --background: translucent;
}
#page-title {
  
  text-align: center;
  display: flex;
  justify-content: center;
  align-content: center;
  flex-direction: column;
  font-size: 26px;
  font-family: monospace;
  font-weight: bold;
  color: white;
}
@media screen and (max-width: 450px) {
#page-title {
  
  text-align: center;
  display: flex;
  justify-content: center;
  align-content: center;
  flex-direction: column;
  font-size: 18px;
  font-family: monospace;
  font-weight: bold;
  color: white;
  margin-right: 16%;
}
}

.background-image {
  --background: url("../../imgs/gym-background.jpg") 0 0/100% 100% no-repeat;
  -webkit-filter: blur(2px);
  filter: blur(2px);
  opacity: 0.8;
}
