.cardFirst {
    text-align: center;
    border-top: 10px solid rgb(196, 131, 11);
    --ion-background-color: rgb(241, 231, 231);
}

.cardSecond {
    color: black;
    border-top: 10px solid rgb(196, 131, 11);
    --ion-background-color: rgb(241, 231, 231);
}

.separador{
    
    border: 2px solid rgb(105, 95, 88);
}

.profilePic {
    min-width: 100px;    
    max-height: 100px;    
}