.cardFirst {
    text-align: center;
    border-top: 15px outset rgb(196, 131, 11);
    --ion-background-color: rgb(241, 231, 231);
}

.cardSecond {
    color: black;
    border-top: 10px solid rgb(196, 131, 11);
    --ion-background-color: rgb(241, 231, 231);
}

.cardStats {
    color: orange;
    border: 2px outset rgb(206, 143, 27);
    --ion-background-color: rgb(241, 231, 231);
}

.separador{
    
    border: 2px solid rgb(105, 95, 88);
}

.profilePic {
    min-width: 100px;    
    max-height: 100px;    
}

.estatisticasHeaderTitle {
    font-weight: bold;
    color: rgb(94, 83, 64);
}

.estatisticasSingle {
    color: rgb(29, 27, 23);
    font-size: 16px;
}