#login-form {
    background-color: white;
    height: 500px;
    width: 360px;
    position:absolute;
    left:0; right:0;
    top:0; bottom:0;
    margin:auto;
    border: 3px outset rgb(240, 143, 63);
    border-radius: 15px;
    max-width:80%;
    max-height:70%;
    overflow:auto;
}

#Logo {
    content: url(../../imgs/logo.png);
    height: 100px;
    width: 100px;
    display: flex;
    margin: auto;
    margin-top: 20px;
    opacity: 0.9;
    filter: contrast(10%);
}

#input-form {
    background-color: white;
    height: 150px;
    width: 300px;
    position:absolute;
    left:0; right:0;
    top:100px; bottom:0;
    margin: auto;
    border-radius: 10px;
    max-width:70%;
    max-height:70%;
    overflow:auto; 
}


#email-input {
    border-left: 5px outset orange;
    border-bottom: 1px dashed orange;
    color: black;
    font-size: 15px;
}

#pass-input {
    border-left: 5px outset orange;
    border-bottom: 1px dashed orange;
    color: black;
    font-size: 15px;
}

@media screen and (max-width: 600px) {
    #email-input {

        font-size: 13px;
    }
    
    #pass-input {

        font-size: 13px;
    }
}

#phrase {
    opacity: 0.7;
    font-style: italic;
    margin-top: 30px;
    font-size: 18px;
    font-family: 'Trebuchet MS';
    text-align: center;
    color: rgba(78, 44, 17, 0.76);
    font-weight: bold;
}

#login-button {
    position:absolute;
    left:0; right:0;
    top:350px; bottom:0;
    margin: auto;
    max-width:100%;
    max-height:100%;
    overflow:auto; 
    width: 120px; 
    opacity: 0.8;
    color: rgb(223, 205, 193);
    font-family: monospace;
}
