.separador{
    
    margin-top: 2.5%;
    border: 1px solid rgb(246, 199, 167);
    margin-bottom: 2.5%;
    margin-left: 5%;
    margin-right: 5%;
 }
 
.margens{

    margin-left: 2.5%;
    margin-right: 2.5%;
}

.margens-exercicio{

    margin-left: 5%;
    margin-right: 5%;
}

.background-orange{

    background: rgb(245, 226, 214);
}

.background-white{

    background: rgb(255, 255, 255);
}

.nome-treino{

    font-family: 'Courier New', Courier, monospace;
    font-size: 20px; 
}

.buttonsWrapper {
    text-align: center;
    padding: 15px; 
}

.leftBut {
    display: inline-block;
    max-width: 150px;
    text-align: left;
    padding: 5px;    
    border-radius: 3px;
    margin: 15px;
    vertical-align: top;
}

.rightBut {
    display: inline-block;
    max-width: 150px;
    text-align: left;
    padding: 5px;
    border-radius: 3px;
    margin: 15px;
    margin-left: 50%;
}

.buttonNextBefore {

    height: 60px;
    width: 130px;

    font-weight: bold;
    color: rgb(0, 0, 0);
    border-style: solid;
    border-radius: 8px;
    border-color: orange;
}

@media screen and (max-width: 650px) {
    .responsiveText {
        font-size: 13px;
    }

    .nome-treino {
        font-size: 14px;
    }
    .text-title{

        font-size: 10px; 
    }
    .nome-exercicio{

        font-size: 13px; 
    }
    .buttonNextBefore {

        height: 60px;
        width: 130px;
    
        font-weight: bold;
        color: rgb(0, 0, 0);
        border-style: solid;
        border-radius: 8px;
        border-color: orange;
    }
        .leftBut, .rightBut {
        max-width: 130px;
    }

    .leftBut {
        display: inline-block;
        text-align: left;
        padding: 5px;    
        border-radius: 3px;
        margin: 15px;
        vertical-align: top;
    }
    
    .rightBut {
        display: inline-block;
        text-align: left;
        padding: 5px;
        border-radius: 3px;
        margin: 15px;
    }
}


.nome-exercicio{

    font-family: 'Courier New', Courier, monospace;
    font-size: 25px; 
}

.text-title{

    font-family: 'Courier New', Courier, monospace;
    font-size: 20px; 
}

.margens-centrar{

    margin-top: 5%;

    text-align: center;
}


.margens-nomes{

    padding: 2.5%;
}

.esq{

    text-align: left;
    margin-left: 15%;
}

.dir{

    text-align: right;
    margin-right: 15%;
}

.card-exercicio{

    background: rgb(255, 255, 255);
    border-style: solid;
    border-color: black;
    margin-bottom: 2.5%;
    width: 90%;
    margin-left: 5%;
}